/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

a {
 color: #cc2c32;
}

h4.artifact-title {
 font-weight: bold;
}

header .navbar-default {
 background-color: #fff;
}

.trail-wrapper {
 background-color: #cc2c32;
 border-bottom: #b72c32;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
 background-color: #cc2c32;
 border-color: #cc2c32;
}

.form-control {
 border: 1px solid #cc2c32;
}

.btn-primary {
 background-color: #cc2c32;
 border-color: #cc2c32;
}

.form-control:focus {
 border-color: #cc2c32;
 webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(204,44,50,0.6);
 box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(204,44,50,0.6);
}

.breadcrumb {
 color: #fff;
 padding-left: 0;
}

header .navbar-default .navbar-toggle>li>a, header .navbar-default .navbar-nav>li>a {
 color: #cc2c32;
}

header .navbar-default .navbar-toggle>li>a:hover, header .navbar-default .navbar-toggle>li>a:focus, header .navbar-default .navbar-nav>li>a:hover, header .navbar-default .navbar-nav>li>a:focus {
 background-color: #cc2c32;
}

.trail-wrapper a {
 color: #fff;
 font-weight: bold;
}

.trail-wrapper .breadcrumb .active {
 color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.btn-default.dropdown-toggle {
 color: #fff;
 background-color: #cc2c32;
 border-color: #cc2c32;
}

//example mixin to set the text-selection style
@mixin selection {
    ::-moz-selection { @content; }
    ::selection { @content; }
}

@include selection {
    color: white;
    background: hotpink;
}
